<div class='container' ng-controller='DashboardController'>
	<form>
		<input type='text' ng-model='filterProducts'>
		<input type='submit' value='Filter'>
	</form>

	<div id='dashboardProducts'>
		<img class='dashboardProduct' src='' alt=''/>
		<img class='dashboardProduct' src='' alt=''/>
		<img class='dashboardProduct' src='' alt=''/>
		<img class='dashboardProduct' src='' alt=''/>
		<img class='dashboardProduct' src='' alt=''/>
		<img class='dashboardProduct' src='' alt=''/>
	</div>

	<div>
		<h5>Recent Orders</h5>
		<p>Michael Purchased 3 Nike Shoes ... (3 hours ago)</p>
		<p>Michael Purchased 3 Nike Shoes ... (3 hours ago)</p>
		<p>Michael Purchased 3 Nike Shoes ... (3 hours ago)</p>
		<a href=''>show all orders...</a>
	</div>

	<div>
		<h5>Recent Orders</h5>
		<p><img class='dashboardPortrait' src='' alt=''>Michael joined the store ... (3 hours ago)</p>
		<p><img class='dashboardPortrait' src='' alt=''>Michael joined the store ... (3 hours ago)</p>
		<p><img class='dashboardPortrait' src='' alt=''>Michael joined the store ... (3 hours ago)</p>
		<a href=''>show all customers...</a>
	</div>

</div>